body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.icon{
  height:50px; 
}
.move-button{
   background-color: transparent;
   border: 3px solid white;
   width: 120px;
   height: 120px;
   border-radius: 60px;
   margin-right: 10px;
   cursor: pointer;
}
.move-button1{
   background-color: transparent;
   
   width: 50px;
   height: 50px;
   
   margin-right: 10px;
   cursor: pointer;
}
.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;

}
.score{
    margin-top: 50px;
}
.reset{
    background-color: white;
    border:1px;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
}
.reset:hover {
    background-color:black;
    color: white;
    border-color:white;
    border: 2px;
}
